body{background-color: blue}

p{
  font-family: monospace;
  font-size: 80px;
  color:yellow;
  text-align: center;
}
a:link {
  color: yellow;
  text-decoration: none;
}

a:visited {
  color: yellow;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}
